@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 

font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

*/

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;

}
.container{
    width: 90%;
    margin: 0 auto;
}

.header-area{
    margin-top: 100px;
}

.header-area h1{
    color: #575757;
    font-weight: 800;
}
.header-area h1 span{
    color: #FC8846;
}
.header-area p{
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0;
    color: #575757;

}
.header-area button {
    background: linear-gradient(orange, tomato);
    border: none;
    border-radius: 31px;
    padding: 18px 34px;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}
.flexible-container{
    display: flex;
}
.header-left{
    width: 50%;
}
.header-right{
    width: 50%;
}
.header-right img{
    width: 100%;
}
h1 {
    font-size: 56px;
    padding-top: 100px;
}