@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 

font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

*/


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;

}
img{
    width: 100%;
    height: auto;
}
.container{
    width: 90%;
    margin: 0 auto;
}

.header-area{
    margin: 80px 0;
}

.header-area h1{
    color: #575757;
    font-weight: 800;
}
.header-area h1 span{
    color: #FC8846;
}
.header-area p{
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0;
    color: #575757;

}
.header-area button {
    background: linear-gradient(orange, tomato);
    border: none;
    border-radius: 31px;
    padding: 18px 34px;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}
.flexible-container{
    display: flex;
}
.header-left{
    width: 50%;
}
.header-right{
    width: 50%;
}
.header-right img{
    width: 100%;
}
h1 {
    font-size: 56px;
    padding-top: 100px;
}

/* ========= About Area ======== */

.about-area{
    background: url('images/7.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 80px 0;

}

.about-left{
    width: 50%;
}
.about-left img{
    width: 50%;
    margin: 0 20%;
}
.about-right{
width: 50%;
}
.about-right h2{
    font-size: 36px;
}
.about-right p {
    color: #575757;
    font-size: 18px;
    font-weight: 400;
    margin: 50px 0; 
}
.about-right button {
    border: none;
    background: linear-gradient(orange, tomato);
    border-radius: 30px;
    color: #fff;
    padding: 15px 33px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* ======= Recipies-area ======== */

.recipies-area{
    padding: 80px 0;
    background-color: #fff;
    width: 100%;
}
.recipies-area h2:first-child{
    text-align: center;
    font-size: 36px;

}
.recipies-area > p{
    width: 46%;
    text-align: center;
    margin: 30px auto;
    font-size: 16px;
}
.recipie-item {
    width: 50%;
    margin-right: 1%;
    box-shadow: 0px 0px 12px grey;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
}
.recipie-item img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;


}
.recipie-item h2{
    padding: 30px 0;
    text-align: left;
    font-weight: 800;

}
.recipie-item p{
    text-align: justify;
    font-size: 16px;
}

/* ======= counter box======== */

.counter-box {
    width: 90%;
    background-color: #fff;
    padding: 50px 0;
    box-shadow: 0px 0px 11px grey;
    margin: 0 auto;
    display: flex;
    padding-left: 10%;
    border-radius: 20px;
    margin-bottom: 50px;
}

.counter-item{
    width: 32%;
    margin: 0 auto;

}
.counter-item h2{
    font-size: 36px;
}

/* ======= Footer-area ======= */

.footer-area{
    background-color: #0B0D17;
    text-align: center;
    padding: 80px 0;
}
.footer-area h2{
    font-size: 36px;
    padding-bottom: 30px;
    color: #575757;
}
.footer-area h2 span{
    color:  #FC8846;
}
.footer-area p{
    color: #fff;
}